<app-right-sticky></app-right-sticky>
<!-- // Header Start -->
<header class="container-fluid nopadding">
    <!-- //Main Nav -->
    <nav id="main-nav" class="craftsvilla-navbar" role="navigation">
        <div class="container">
          <!-- // Mobile Search start -->
            <div class="mobile-search" data-search="false">
              <div class="col-xs-1 back-arrow-mobile">
                <svg class="icon-v2 icon-back-arrow" width="20px" height="20px" viewBox="0 0 32 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                  <title>back_arrow</title>
                  <defs></defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="icons" sketch:type="MSArtboardGroup" transform="translate(-452.000000, -278.000000)" fill="#9D2440">
                      <g id="back" sketch:type="MSLayerGroup" transform="translate(452.000000, 278.368421)">
                        <path d="M32,14 L7.6,14 L18.8,2.8 L16,0 L0,16 L16,32 L18.8,29.2 L7.6,18 L32,18 L32,14 L32,14 Z" id="back_arrow" sketch:type="MSShapeGroup"></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <span class="search-container col-xs-11 nopadding">
                <input id="searchval" type="text" class="form-control" placeholder="Eg: Salwar Suit, Lehnga, Kurtis">
              </span>
            </div>
            <!-- // Mobile Search End -->
            <div class="col-sm-9 col-xs-7 nopadding text-left">
                <div class="col-sm-12 col-md-3 col-xs-12 nopadding">
                    <a class="mobile-menu mobile-navbar visible-xs visible-sm" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <a class="logo-container" rel="home" href="#">
                        <img src="assets/img/logo.png" alt="">
                    </a>
                </div>
                <div class="col-sm-8 col-md-9 col-xs-6 hidden-xs hidden-sm">
                    <form id="search_mini_form" role="search" action="/searchresults" method="get" onsubmit="javascript:return fillvalues();">
                        <div class="input-group autosuggest-section">
                            <span class="search-container">
                                <input id="searchval" type="text" class="form-control" placeholder="Search for products and brands">
                                <!-- // Search List Data Start -->
                                <ul id="tsresponse" role="search-list">
                                  <li><a href="#"><span search-img="">zzz</span> <span search-data="">Sharee</span><span search-category="">category</span></a></li>
                                  <li><a href="#"><span search-data="">Sharee1</span><span search-category="">category1</span></a></li>
                                  <li><a href="#"><span search-data="">Sharee2</span><span search-category="">category2</span></a></li>
                                  <li><a href="#"><span search-data="">Sharee3</span><span search-category="">category3</span></a></li>
                                  <li><a href="#"><span search-data="">Sharee4</span><span search-category="">category4</span></a></li>
                                  <li><a href="#"><span search-data="">Sharee5</span><span search-category="">category5</span></a></li>
                                  <li><a href="#"><span search-data="">Sharee6</span><span search-category="">category6</span></a></li>
                                </ul>
                                <!-- // Search List Data Data -->
                            </span>
                            <span class="input-group-btn">
                            <button class="btn btn-default search-button" type="button" onclick="dataLayer.push({'event':'SearchPerformedEvent','eventName':'SearchPerformed','source':'homeScreen','suggestionUsed':'no'});"><i class="icon cv-search"></i></button>
                        </span>
                        </div>
                        <!-- /Search Panel -->
                    </form>
                </div>
            </div>
            <div class="col-sm-3 col-xs-5 nopadding text-right">
                <div class="col-xs-12 nopadding authentication-container">
                    <ul authentication-list>
                        <li class="visible-xs"><a href="#"><i class="icon cv-search"></i></a></li>
                        <li><a href="#" data-cart><i class="icon cv-cart"><span class="circle">0</span></i><span class="hidden-xs">Cart </span></a></li>
                        <li>
                          <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="icon cv-login"></i> <span class="hidden-xs">Hello, Bhavin</span><i class="icon first_arrow"></i></a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">INR (&#x20B9;)</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">INR (&#x20B9;)</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">INR (&#x20B9;)</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">INR (&#x20B9;)</a></li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- //Mega Menu -->
    <div mob-menu-overlay></div>
    <app-mega-menu></app-mega-menu>
</header>
