<div class="col-xs-12">
  <div class="container">
    <h1>404</h1>
    <p>We're Sorry</p>
    <p><small>Unfortunately we couldn't find the page you requested</small></p>
    <h3>This might be because:</h3>
    <p>- The page that you are looking for has been moved, deleted or doesn't exist.</p>
    <p>- The address was typed incorrectly. Please check the spelling and address and try again</p>
    <h3>You might like to try the following options instead:</h3>
    <p>- Search Craftsvilla.com by using the search box at the top right of the page.</p>
    <p>- Click the Craftsvilla logo at the top left of the page to go to the Craftsvilla.com homepage.</p>
    <p>- You can also start shopping by clicking on any one of the following categories:</p>
    <p><small>Clothing</small> <br> <small>Home Decor Products</small> <br> <small>Jewellery</small></p>
  </div>
</div>
