<div mob-menu-overlay></div>
<nav id="mega-menu" class="container-fluid menu-wrapper nopadding">
  <div class="container">
    <ul data-mega-menu>
      <li class="visible-xs hidden-md shop-by">Shop by <span data-shop-by-close class="icon Icon-close"></span></li>
      <li class="" appMenuActive *ngFor="let submenu of menuData">
        <a first-click href="{{submenu.href}}">
          {{submenu.name}}
          <span class="first_arrow icon"></span>
          <div data-sub-menu>
            <div class="container sub-menu-wrapper">
              <ul>
                <li *ngFor="let group of submenu.data">
                  <a click-menu="">{{group.name}}
                    <div class="visible-xs acc-arrow">
                      <span>&nbsp;</span>
                      <span>&nbsp;</span>
                    </div>
                  </a>
                  <ul>
                    <li *ngFor="let item of group.data">
                      <a href="http://www.craftsvilla.com{{item.href}}">
                        {{item.name}}
                        <span *ngIf="item.isNew">New</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li *ngFor="let image of submenu.images" class="hidden-xs">
                  <div class="image_box">
										<a href="http://www.craftsvilla.com{{image.href}}">
                      <img class="lazy-onload"
                            data-src="{{image.url}}"
                            alt=""
                            src="{{image.url}}">
                    </a>
								  </div>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
